In [26]:
#1
for i in range (1499,2699,5):
    if (i%7==0):
        
        print (i)

1519
1554
1589
1624
1659
1694
1729
1764
1799
1834
1869
1904
1939
1974
2009
2044
2079
2114
2149
2184
2219
2254
2289
2324
2359
2394
2429
2464
2499
2534
2569
2604
2639
2674

In [1]:
#2
def Isfahrenheit():
    print ( "is your numb Celsius OR Fahrenheit")
    kind = input () 
    if kind == "Fahrenheit" :
        return True
    else:
        return False

In [107]:


    if Isfahrenheit() : 
        print("please enter your num")
        num = float(input())
        sum =  ( (num-32) * 5 ) /9
        print ("your number after convert is " + str (sum))
       
    else:
        print("please enter your num")
        num = float(input())
        sum = (num*9) /5 +32 
        print ("your number after convert is =" + str(sum))

is your numb Celsius OR Fahrenheit
 Fahrenheit
please enter your num
20
your number after convert is =68.0

In [2]:
#3

for i in range(6) :   
    
    for x in range (i):
        print("*",end="")
    print()
for i in range(6) :   
    
    for x in range (i,6):
        print("*",end="")
    print()

*
**
***
****
*****
******
*****
****
***
**
*

In [3]:
#4
print ("please enter a name")
name= input()
for i in range (len(name)-1 ,-1, -1 ):
    print(name[i],end="")

please enter a name
ahmed
demha

In [ ]:
#5
def findmax (x ,y ,z):
    max=0
    if(x >=y) and (x>=z) :
         maxnum =x
    elif(y>=x) and( y >= z):
        maxnum=y
    else:
        maxnum=z
    return maxnum
x = 1661
y = 42564
z = 54354
print(findmax(x, y, z))

In [ ]:
#6
def sum_all (num):
    total=0
    for i in num :
        total+=i
    return total
print(sum_all([10,20,30]))

In [ ]:
#7
for i in range (0,6) :
    if i == 3 :
        continue
    print(i)

In [32]:
#8
def factorial(num):
    fact=1
    for i in range(1 , num+1):
        fact= fact*i
    return fact
print ("enter number")
x=int(input())
if x <= 0 :
    print("Wrong input")
print(factorial(x))

TypeError: 'str' object is not callable

In [30]:
#9
def unique_elements (l) :
    ul = []
    for i in l :
        if i not in ul :
            ul.append(i)
    return ul
print (unique_elements ([15,20,20,15,13,14,13]))

TypeError: 'str' object is not callable

In [37]:
#10
add15 = lambda num : num + 15
multiply = lambda x,y:  x * y
print (add15(10))
print(multiply(9,10))

TypeError: 'str' object is not callable

In [35]:

r = lambda a : a + 15
print(r(10))
r = lambda x, y : x * y
print(r(12, 4))
Sample Output:

TypeError: 'str' object is not callable